<.h1>
    <span class="text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">
        NeosVR Fireworks Launch
    </span>
  </.h1>

<%=for index <- 1..5 do %>
    <.button color="primary" label={index}   phx_click="launch"  phx_value_id={index} />
<% end %>